{% extends 'catalog/base.html' %}

{% block content %}
<h2>{{ post.title }}</h2>
{% if post.preview %}
    <img src="{{ post.preview.url }}" class="img-fluid mb-3" alt="{{ post.title }}">
{% endif %}
<p>{{ post.content|linebreaks }}</p>
<p class="text-muted">Создано: {{ post.created_at|date:"d.m.Y H:i" }}</p>
<p>Просмотров: {{ post.views_count }}</p>
<a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Назад к списку</a>
<a href="{% url 'blog:blog_update' post.pk %}" class="btn btn-primary">Редактировать</a>
<a href="{% url 'blog:blog_delete' post.pk %}" class="btn btn-danger">Удалить</a>
{% endblock %}