{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="id_username">Email:</label>
            <input type="email" name="username" id="id_username" class="form-control"
                value="{{ form.username.value|default_if_none:'' }}">
            {{ form.username.errors }}
        </div>
        <div class="mb-3">
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" id="id_password" class="form-control">
            {{ form.password.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
</div>
{% endblock %}